{% if nth == 1 %}
{% set solver_js = load_data(path="../templates/shortcodes/anima_solver.js", format="plain") %}
<script>
    {{ solver_js | safe }}
</script>
{% set anima_js = load_data(path="../templates/shortcodes/anima.js", format="plain") %}
<script>
    {{ anima_js | safe }}
</script>
<template id="anima-puzzle-template">
    <div class="spacer"></div>
    <div class="board-container">
        <h3 data-ref="name"></h3>
        <div data-ref="board" tabindex="0"></div>
        <span data-ref="focuser">
            Click to play
        </span>
        <div>
            <span data-ref="moves">0</span><span class="optimal-threshold"> / <span data-ref="optimalMoves">0</span></span> moves
        </div>
    </div>
    <div data-ref="solver">
        <h3>Solver</h3>
        <div data-ref="solution"></div>
        <div>
            <input type="checkbox" data-ref="autoSolve"/>Auto
            <button data-ref="solveButton">Solve</button>
        </div>
        <div class="solve-statistics">
            <span data-ref="solveTime">0.000s</span>
        </div>
    </div>
    <div data-ref="import">
        <h3>Import</h3>
        <div class="import-input">
            <textarea data-ref="importInput"></textarea>
        </div>
        <div>
            <button data-ref="importButton">Import</button>
        </div>
    </div>
    <div class="spacer"></div>
    <style>
        :host {
            display: flex;
            align-items: stretch;
            margin: 0.5rem auto;
            overflow-x: auto;
        }
        :host > * {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }
        .spacer {
            margin: 0;
            flex-grow: 1;
        }
        .board-container {
            text-align: center;
            flex-shrink: 0;
        }
        [data-ref="focuser"] {
            position: relative;
            top: -0.5rem;
            padding: 0.25rem 0.5rem;
            background-color: #fff;
            border-radius: 0.75rem;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            z-index: 1;
            cursor: pointer;
        }
        :host(.active) [data-ref="focuser"] {
            opacity: 0;
        }
        .optimal-threshold {
            display: none;
            font-weight: bold;
        }
        :host(.was-solved) .optimal-threshold {
            display: inline;
        }
        :host(.was-solved.was-optimal) .optimal-threshold::after {
            content: " ✔";
            color: #006600;
        }
        [data-ref="board"] {
            background-color: #e8e8e8;
            background-image:
                linear-gradient(135deg, #cccccc 25%, transparent 25%),
                linear-gradient(225deg, #cccccc 25%, transparent 25%),
                linear-gradient(45deg, #cccccc 25%, transparent 25%),
                linear-gradient(315deg, #cccccc 25%, #e8e8e8 25%);
            background-position: 18px 0, 18px 0, 0 0, 0 0;
            background-size: 36px 36px;
            background-repeat: repeat;
            position: relative;
            border-radius: 0.75rem;
            border: 0.5rem solid transparent;
            cursor: pointer;
        }
        :host(.active) [data-ref="board"] {
            cursor: default;
        }
        [data-ref="board"]::before {
            content: " ";
            position: absolute;
            left: -0.5rem;
            right: -0.5rem;
            top: -0.5rem;
            bottom: -0.5rem;
            border-radius: 0.75rem;
            box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
        }
        [data-ref="board"]::after {
            content: " ";
            display: block;
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='111.58' height='80.006' version='1.1' viewBox='0 0 111.57827 80.006501' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m110.45 22.652c-1.0152-0.76245-2.4134-0.75457-3.414 0.01636l-29.369 22.42-19.275-43.549c-0.91154-2.0522-4.2759-2.0522-5.1905 0l-19.501 44.05-29.113-22.898c-1.0055-0.78609-2.4116-0.8079-3.4359-0.053335-1.0279 0.76002-1.417 2.1164-0.95579 3.2989l20.226 52.262c0.4188 1.0928 1.4728 1.8085 2.6407 1.8085h65.462c1.177 0 2.2219-0.71275 2.6425-1.8085l20.224-52.262c0.45759-1.1825 0.0739-2.5243-0.94124-3.2843z' fill='%23ffd82b'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 120px;
            height: 100px;
            opacity: 0.8;
            filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));
            transform: translate(-50%, -50%) scale(0.0);
            transform-origin: center;
            transition: transform 0.25s cubic-bezier(.18, .85, .67, 1.53);
            z-index: 3;
        }
        :host(.solved) [data-ref="board"]::after {
            transform: translate(-50%, -50%) scale(1.0);
        }
        .tile {
            position: absolute;
        }
        .tile::before {
            content: " ";
            display: block;
            position: absolute;
            width: calc(100% - 0.15rem);
            height: calc(100% - 0.15rem);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0.75rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .tile::after {
            content: " ";
            display: block;
            position: absolute;
            width: calc(100% - 0.15rem);
            height: calc(100% - 0.15rem);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0.75rem;
            background-color: #fff;
            z-index: 1;
        }
        .tile.goal::after {
            background-image:
                linear-gradient(135deg, #fff 40%, transparent 41%),
                linear-gradient(225deg, #fff 40%, transparent 41%),
                linear-gradient(45deg, #fff 40%, transparent 41%),
                linear-gradient(315deg, #fff 40%, transparent 41%);
        }
        .tile.goal.red::after {
            background-color: #ff0046;
        }
        .tile.goal.blue::after {
            background-color: #0989B2;
        }
        [data-ref="import"] {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        [data-ref="import"].hidden {
            display: none;
        }
        .import-input {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        .import-input textarea {
            flex-grow: 1;
        }
        button {
            padding: 0.25rem 0.5rem;
            background-color: #fff;
            border: 0;
            border-radius: 0.75rem;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            font-family: inherit;
            font-size: inherit;
            margin: 0.25rem;
        }
        button:hover {
            background-color: #e0e0e0;
        }
        button:active {
            background-color: #ccc;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        }
        textarea {
            border: 0;
            border-radius: 0.75rem;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
        }
        [data-ref="solver"] {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        [data-ref="solver"].hidden {
            display: none;
        }
        [data-ref="solution"] {
            min-width: 200px;
            height: 0;
            flex-grow: 1;
            text-align: left;
            overflow-y: scroll;
            border-radius: 0.75rem;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
        }
        .solve-statistics {
            font-size: small;
        }
    </style>
</template>
<template id="anima-actor-template">
    <style>
        :host {
            display: block;
            position: absolute;
            transition: left 0.15s, bottom 0.15s;
            z-index: 2;
        }
        .color {
            display: block;
            position: absolute;
            overflow: hidden;
            width: calc(100% - 0.6rem);
            height: calc(100% - 0.6rem);
            border-radius: 0.4rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .color::after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        :host(.red) .color::after {
            background-image:
                linear-gradient(135deg, #ff0046 30%, transparent 31%),
                linear-gradient(225deg, #ff0046 30%, transparent 31%),
                linear-gradient(45deg, #ff0046 30%, transparent 31%),
                linear-gradient(315deg, #ff0046 30%, transparent 31%);
        }
        :host(.blue) .color::after {
            background-image:
                linear-gradient(135deg, #0989B2 30%, transparent 31%),
                linear-gradient(225deg, #0989B2 30%, transparent 31%),
                linear-gradient(45deg, #0989B2 30%, transparent 31%),
                linear-gradient(315deg, #0989B2 30%, transparent 31%);
        }
    </style>
    <div class="color"></div>
</template>
{% endif %}
{% if not scale %}
{% set scale = 50 %}
{% endif %}
{% if not solver %}
{% set solver = false %}
{% endif %}
{% if not import %}
{% set import = false %}
{% endif %}
<script
    class="anima-data"
    type="application/json"
    data-scale="{{ scale }}"
    data-solver="{{ solver }}"
    data-import="{{ import }}"
>
    {{ body | safe }}
</script>
