{% extends "global.html" %}

{% block content %}
<div class="section title">
    {{ page.title | safe }}
    <div class="subtitle">
        {{ page.date | date(format="%b %e, %Y") }} &ndash; {{ page.reading_time }} min read
    </div>
</div>
<div class="section taxonomies">
    {% for key, values in page.taxonomies %}
    <div class="{{ key }}">
        {% for value in values %}
            <a href="{{ get_taxonomy_url(kind=key, name=value) | safe }}">{{ value | title }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="section content">
    {{ page.content | safe }}
</div>
<div class="section navigation">
    {% if page.earlier %}
        Previous article: <a href="{{ page.earlier.permalink }}">{{ page.earlier.title | safe }}</a>
    {% endif %}
    {% if page.later %}
        Next article: <a href="{{ page.later.permalink }}">{{ page.later.title | safe }}</a>
    {% endif %}
</div>
{% endblock content %}