{% extends "global.html" %}

{% block content %}
<div class="section title">
    {{ section.title | safe }}
</div>
<div class="section pages">
    <p>
        Browse taxonomies: 
        {% for taxonomy in config.taxonomies %}
            <a href="/{{ taxonomy.name | slugify | safe }}">{{ taxonomy.name | title }}</a>
        {% endfor %}
    </p>

    {{ section.content | safe }}

    {% for page in section.pages %}
    <div class="page">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <div class="info">
            <div>{{ page.date | date(format="%B %e, %Y") }}</div>
        </div>
    </div>
    {% endfor %}
    {% for sub in section.subsections %}
        {% set subsection = get_section(path=sub) %}
        {{ subsection.title }}
        {{ subsection.pages | length }}
    {% endfor %}
</div>
{% endblock content %}