<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.extra.author.name }}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- fonts and styles -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link href="{{ config.base_url | safe }}/style.css" rel="stylesheet">

    <!-- scripts -->
    <script src="/elasticlunr.min.js" async></script>
    <script src="/search_index.en.js" async></script>
    <script src="/js/search.js" async></script>

    <title>
        {% if section and section.title %}
            {{ section.title }}
        {% elif page and page.title %}
            {{ page.title }}
        {% else %}
            {{ config.title }}
        {% endif %}
    </title>
</head>
<body>
    <div class="section header">
        <div class="logo">
            <a href="/" class="logo-image" width="100"></a>
        </div>
        <div class="links">
            {% set root_section = get_section(path="_index.md") %}
            {% for page in root_section.pages %}
                <a href="/{{ page.path | safe }}">{{ page.title }}</a>
            {% endfor %}
            {% for subsection_path in root_section.subsections %}
                {% set subsection = get_section(path=subsection_path) %}
                <a href="/{{ subsection.path | safe }}">{{ subsection.title }}</a>
            {% endfor %}
        </div>
        <div class="search">
            <input id="search-checkbox" type="checkbox" autocomplete="off">
            <input id="search-input" type="text">
            <label id="search-show" for="search-checkbox"></label>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <div class="section footer">
        &copy; {{ now() | date(format="%Y") }} {{ config.extra.author.name }}
    </div>
</body>
</html>