{% extends "global.html" %}

{% block content %}
<div class="section title">
    {{ term.name | title }}
    <div class="subtitle">
        <a href="/{{ taxonomy.name | slugify | safe}}">Back to {{ taxonomy.name }}</a>
    </div>
</div>
<div class="section pages">
    {% for page in term.pages %}
        <div class="page">
            <a href="{{ page.permalink | safe}}">{{ page.title }}</a>
            <div class="info">
                {{ page.date | date(format="%B %e, %Y") }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}